.preference {
    width: 100vw;
    height: 100vh;
    background-image: url('background 2.jpg');
    background-color: #095F7E;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    color: white;
    padding: 0px;
  }
  
.landingpage {
    background: #DCEDD8;
    ;
    border-radius: 25px;
    padding: 30px 60px 30px 30px;
}

  .landingpage-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    text-align: center;
    border-radius: 25px;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    margin: 40px 20px 20px 20px;
    padding: 0px;
  }
  
  .landingpage .landingpage-container .item {
    padding: 5px;
    width: 200px;
    height: 200px;
    margin-top: 10px;
    line-height: 0px;
    text-align: center;
    border-radius: 25px;
  }
  
  .landingpage .landingpage-container h1{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 85px;
    /* identical to box height */
    align-items: center;
    text-align: center;
    color: #095F7E;
  
  }

  .landingpage .landingpage-container h5{
    font-size: 30px;
    color: #095F7E;
  }
  
  .landingpage .landingpage-container .options {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 42px;
    color: white;
  }
  
.item-container {
    background-color:white;
    width: 250px;
    height: 424.69px;
    border-radius: 25px;
    padding: 15px 20px 15px 20px;
    text-decoration: none;
}

h1 {
    color: #095F7E;
}