.header {
    display:flex;
    justify-content: space-between;
    background-color: #063d52;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: columnn;
    position: fixed;
    z-index: 10;
    
}

.header h1 {
    color: white;
    margin: 20px;
}

.header .img{
    width: 90px;
    height: 90px;
    background-image: url("logo.png");
    z-index: 20;
}
.header a{
    text-decoration: none;
}
.open {
    background-color: white;
}